@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pawn Shop</h1>
    <p>
        Here you can get money for pledged goods. The term for returning the amount received is up to 30 days. For the selected period, interest is charged - 30% per day, which you can pay online. If the goods are not claimed or the interest is not paid, the goods go to a store for sale. Anyone can purchase the goods again from the store
	<p>To use our services, please <b>Register</b> and <b>Become Client.</b></p>
    </p>
</div>
