@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h2 class="display-5 text-dark">H e l p d e s k  - Administrative area</h2>
    <h4 class="text-danger">Само за администратори! Могат да се редактират Дирекции, Категории, и Статуси. Могат да се дават права на потребители/администратори. Могат да се зареждат данни от файл.</h4>

</div>
