@{
    ViewBag.Title = "Bad Request";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="text-center">
    <p class="text-center">Нещо се обърка, обърнете се към администратора!</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-info me-2 w-50">Back to Home</a>

</div>