@{
    ViewBag.Title = "Not Found";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="text-center">
    <p class="text-center">The items not found!</p>
    <p class="text-center">Please contact with Administrator!</p>
    <button type="button" class="btn btn-secondary mt-3" onclick="window.history.back()">Back</button>
   @*  <a asp-controller="Home" asp-action="Index" class="btn btn-info me-2 w-50">Back to Home</a> *@

</div>