@{
    ViewBag.Title = "Login Again";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="text-center">
    <p class="text-center">You have successfully registered as a Client.!</p>
	
    <a class="text-capitalize" asp-area="Identity" asp-page="/Account/Login">Login Again</a>
</div>
