@using Helpdesk.Core.Models.Request

<div id="requestsTableContainer">
	<p>Loaded at: @ViewBag.Time</p>
	<partial name="_RequestsTable" model="Model" />
</div>

<div id="detailsContainer" class="mt-4">
	<p>Избери заявка за подробности...</p>
</div>

<div id="historyContainer"></div>

<div id="modal"  tabindex="-1"></div>


@section Scripts {
	@*<script src="~/js/RequestDetail.js"></script>
	<script src="~/js/RequestHistory.js"></script> 
	<script src="~/js/RequestsUnified.js"></script> //no working
     <script src="~/js/Request.js"></script> *@
     <script type= "module" src="~/js/main.js"></script> 
}
