@{
	ViewBag.Title = "Buy Goods in Shop";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<p class="text-center">Please wait to redirect to the payment system</p>
<a asp-controller="Shop" asp-action="AllNotSold" class="btn btn-secondary">Back</a>

